*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_logo{
    width: 129px;
    height: 60px;
    color: white;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 60px;
    width: 100%;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border: 2px solid white;
    
}
.nav_address{
    width: 167px;
}
.add_icon{
    display: flex;
    align-items: center;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 3px;
}
.nav_search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    
}
.nav_search:hover{
    border: 2px solid orange;
}
.search_select{
    background-color: #e6e6e6;
    width: 50px;
    text-align: center;
    padding: 5px;
    border: 0.800px solid orange;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search_input{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding: 5px;
}
.search_icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.2rem ;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0F1111;
}
.nav_nation{
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.nav_language{
    font-weight: bold;
    padding-bottom: 2px;
}
.nav_flag img{
    width: 24.6px ;
}
span{
    font-size: 0.7rem;
}
.nav_second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav_cart i{
    font-size: 2.1rem;
}
.nav_cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    display: flex;
    height: 40px;
    background-color: #232f3e;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
}
.panel_options p{
    display: inline;
    
    margin-left: 15px;

}
.panel_options{
    width: 70%;
    font-size: 0.85rem;
    
    
}
.panel_deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero_section{
    background-image: url(hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero_message{
    background-color: #fff;
    color: #0F1111;
    height: 40px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero_message a{
    text-decoration: none;
    color: #007185;
}
.shop_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
    height: 420px;

    width: 23%;
    background-color: #fff;
    padding: 20px 0px 15px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.box_img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.box_content{
    margin-left: 1rem ;
    margin-right: 1rem;
}

p{
    align-items: center;
}
p a{
    text-decoration: none;
    color: #007185;
}
.nav_bottom{
    height: 40px;
    background-color: #37475a;
    color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
footer a{
    text-decoration: none;
    color: #cccccc;
}
.foot_paneltwo{
    background-color: #232f3e;
    color: #dddddd;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;

}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 0.5rem;
}
.foot_panel{
    font-weight: 700;
    padding-bottom: 0.7rem;
}
.foot_panelthree{
    background-color: #232f3e;
    color: #dddddd;
    border-top: 0.5px solid white;
    height: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 100px;
    height: 50px;
}
.foot_panelthreepart1{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.foot_panelthreepart2{
    margin-top: 15px;
    font-size: 0.85rem;
    width: 80%;
    margin: auto;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.foot_panelthreepart2 a{
    margin-left: 23px;
}
.foot_select{
    margin-left: 50px;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background-color: transparent;
    color: #cccccc;
}
.foot_panelfour{
    background-color: #131A22;
    height: 100px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 500;
}
.copyrights{
    margin-top: 5px;
}
